.landing-page-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto;
}

.landing-page-info-div{
    background-color: rgb(169, 163, 163);
}
.landing-page-info{
    color:  black;
}