.landing-page-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  font-family: 'Merienda', cursive;

}

.landing-page-info-div {
  background-color: #F0DCCA;
}
.landing-page-info {
  color: black;
}

.landing-page-button {
  width: 30%;
  margin: auto;
  margin-top: 15px;
  font-family: 'Merienda', cursive;
}
