.add-plant-form {
  display: flex;
  flex-direction: column;
  border: solid;
  padding: 20px;
  background-color: rgb(102, 110, 108);
  color: white;
  width: 70%;
  margin: auto;
  font-family: 'Merienda', cursive;

}
.add-plant-form-div {
  align-content: center;
  justify-items: center;
  text-align: center;
  display: block;
  margin: auto;
  font-family: 'Merienda', cursive;
}
.input {
  width: 50%;
  margin: auto;
}

.input-labels {
  padding-top: 10px;
  font-family: 'Merienda', cursive;
}

.submit-button {
  width: 30%;
  margin: auto;
  margin-top: 30px;
  font-family: 'Merienda', cursive;
}
