/* .loginForm-div {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.loginForm {
  display: flex;
  flex-direction: column;
  border: solid;
  padding: 20px;
  background-color: rgb(102, 110, 108);
  color: white;
  width: 300px;
  margin: auto;
}

.input {
  width: 60%;
  margin: auto;
}

.input-labels {
  padding-top: 10px;
}

/* .submit-button {
  width: 30%;
  margin: auto;
  margin-top: 15px;
} */
