.new-user-form-div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  text-align: center;
  /* display: block; */
  margin: auto;
  font-family: "Merienda", cursive;
}

.new-user-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  border: solid;
  padding: 20px;
  margin: 20px;
  margin-top: 40px;
  background-color: #8d9f87;
  border-radius: 15px;
  text-align: left;
}

.input {
  width: 60%;
  margin: auto;
}

.input-labels {
  padding-top: 10px;
}

.submit-button {
  width: 30%;
  margin: auto;
  margin-top: 15px;
}

.new-user-button-div{
  display: flex;
  flex-direction: row;
}
