.search-form-div {
  align-content: center;
  justify-items: center;
  text-align: center;
  display: block;
  margin: auto;
}

.search-form {
  display: flex;
  flex-direction: column;
  border: solid;
  padding: 20px;
  background-color: rgb(102, 110, 108);
  color: white;
  width: 70%;
  margin: auto;
  margin-bottom: 40px;
}
.add-new-button{
  font-size: 20px;
  margin: 15px;
}
