.header-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.header{
    color: rgb(83, 79, 79);
    font-family: 'Chewy', cursive;
}

.Header__logged-in{
    font-family: 'Merienda', cursive;
}
.Header__not-logged-in{
    font-family: 'Merienda', cursive;
}

.link{
    text-decoration: none;
}