.list-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    border: solid #696D7D;
    border-radius:15px;
    background-color: #8D9F87;
    margin-bottom: 30px;
    font-family: 'Merienda', cursive;
  }

  h2{
    font-family: 'Chewy', cursive;
  }

.image{
    width: 200px;
}

.plant-link {
    text-decoration: none;
    color: black;
}

a.plant-link:hover{
    color: rgb(130, 94, 100);
    cursor: pointer;
}
